<div class=" <%-site.customConfig.header_color%>">
<div class="pagination-container">
  <% if (pagination.prev) { %>
    <a href="<%= pagination.prev %>" class=" post-link prev-page glyphicon glyphicon-circle-arrow-left">上一页</a>
    <% }else{ %>
      <a class="post-link prev-page glyphicon glyphicon-circle-arrow-left">前面啥也没有</a>
    <% } %>
  <% if (pagination.next) { %>
    <a href="<%= pagination.next %>" class=" post-link next-page 	glyphicon glyphicon-circle-arrow-right">下一页</a>
  <% }else{ %>
    <a class="post-link next-page 	glyphicon glyphicon-circle-arrow-right">后面没有了</a>
  <% } %>
</div>
</div>
