
.me-header-color-style-dark
{
  .navbar{
    background-color: #222222;
}
 
  .navbar-nav>li>a
  {
    color: #EEEEEE;
  }
  .navbar-nav>li>a:hover
  {
    color: #EEEEEE;
    font-size: 22px;
  }
  .navbar-brand
  {
    color: #EEEEEE;
  }
  .navbar-brand:hover
  {
    color: #EEEEEE;
    font-size: 22px;
  }
  .me-top-tick{
    background-color: #222222;
    color: #EEEEEE;
  }
}

.me-header-color-style-white
{
    .navbar{
      background-color:#FFFFFF;
  }
  
  .navbar-nav>li>a
  {
    color: #111111;
  }
  .navbar-nav>li>a:hover
  {
    color: #111111;
    font-size: 22px;
  }
  .navbar-brand
  {
    color: #111111;
  }
  .navbar-brand:hover
  {
    color: #111111;
    font-size: 22px;
  }
  .me-top-tick{
    background-color: #222222;
    color: #EEEEEE;
  }
}

.me-header-color-style-green
{
  .navbar{
    background-color:#009966;
  }
  
  .navbar-nav>li>a 
  {
    color: #FFFF66;
  }
  .navbar-nav>li>a:hover
  {
    color: #FFFF66;
    font-size: 22px;
  }
  .navbar-brand 
  {
    color: #FFFF66;
  }
  .navbar-brand:hover
  {
    color: #FFFF66;
    font-size: 22px;
  }
  .me-top-tick{
    background-color: #009966;
    color: #FFFF66;
  }
  .post-button{
    color :#009966;
  }
}

.me-header-color-style-pink
{
  .navbar{
    background-color:#FF99CC;
  }
  .navbar-nav>li>a 
  {
    color: #FFFFCC;
  }
  .navbar-nav>li>a:hover
  {
    color: #FFFFCC;
    font-size: 22px;
  }
  .navbar-brand 
  {
    color: #FFFFCC;
  }
  .navbar-brand:hover
  {
    color: #FFFFCC;
    font-size: 22px;
  }
  .me-top-tick{
    background-color: #FF99CC;
    color: #FFFFCC;
  }
}

